certifi==2020.4.5.1
cffi==1.14.0
cycler==0.10.0
decorator==4.4.2
face-alignment==1.0.0
imageio==2.8.0
kiwisolver==1.2.0
matplotlib==3.2.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
networkx==2.4
numpy==1.18.3
olefile==0.46
opencv-python==4.2.0.34
opencv-python-headless==4.1.1.26
Pillow==7.1.1
pycparser==2.20
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.3.1
scikit-image==0.16.2
scipy==1.4.1
six==1.14.0
torch==1.4.0
torchvision==0.5.0
tqdm==4.45.0
wincertstore==0.2
